@import url('https://fonts.googleapis.com/css?family=Roboto|Rubik:400,500,700&display=swap');

body, html, #root, .App {
    height: 100%;
}

p {
    margin: 0rem 0rem 1rem 0rem;
}

.App {
    background-color: #f2f2f2;
    overflow: scroll;
    display: flex;
    flex-direction: column;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}
