{
  "auth0": {
    "clientId": "<Auth0 application clientID>",
    "domain": "<Auth0 application domain>",
    "configurationBaseUrl": "See https://auth0.com/docs/libraries/lock/v11/configuration#configurationbaseurl-string",
    "authAudience": "See https://auth0.com/docs/libraries/lock/v11/configuration#audience-string",
    "returnTo": "<fully qualifed url to return to after logout>"
  }
}
